header{
    color: darkred;
    text-align: center;
    padding: 15px;
    display: grid;
    grid-column: 70%;
}
.container{
    display: grid;
    grid-template-columns: 70%  30%;
}
section{
    background-color: firebrick;
    padding: 15px;
    display: grid;
    grid-column: 70%;
}
aside{
    background-color: cornflowerblue;
}
footer{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    background-position: center;
    margin-left: 15px;
    margin-right: 15px;
}